---
name: Build multitool docker image

on:
  pull_request:
  push:
    paths:
      - 'multitool/**'
      - 'multitool/*'
    branches:
      - main
  schedule:
    - cron: "10 2 * * 0"
  workflow_dispatch:

jobs:
  # If on main branch, build and release image.
  release:
    name: Release
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: multitool/
          file: multitool/Dockerfile
          platforms: linux/386,linux/amd64,linux/arm/v7,linux/arm64,linux/ppc64le
          push: true
          tags: ghcr.io/titom73/multitool:latest
          build-args: |
            SOURCE_REPO_URL=https://github.com/titom73/docker-network-toolkit